/*
=============== 
Fonts
===============
*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");

/*
=============== 
Variables
===============
*/

:root {
  /* dark shades of primary color*/
  --clr-primary-1: hsl(205, 86%, 17%);
  --clr-primary-2: hsl(205, 77%, 27%);
  --clr-primary-3: hsl(205, 72%, 37%);
  --clr-primary-4: hsl(205, 63%, 48%);
  /* primary/main color */
  --clr-primary-5: #49a6e9;
  /* lighter shades of primary color */
  --clr-primary-6: hsl(205, 89%, 70%);
  --clr-primary-7: hsl(205, 90%, 76%);
  --clr-primary-8: hsl(205, 86%, 81%);
  --clr-primary-9: hsl(205, 90%, 88%);
  --clr-primary-10: hsl(205, 100%, 96%);
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-green-dark: hsl(125, 67%, 44%);
  --clr-green-light: hsl(125, 71%, 66%);
  --clr-secondary: hsla(182, 63%, 54%);
  --clr-black: #222;
  --transition: all 0.3s linear;
  --spacing: 0.25rem;
  --radius: 0.5rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
}
/*
=============== 
Global Styles
===============
*/
html {
  scroll-behavior: smooth;
}
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "SF Hello", "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
font-style: normal;
font-weight: 100;
  background: #fff;
  color: var(--clr-grey-1);
}
@media (min-width: 800px){
  body {
    margin-left: 250px;
    padding: 20px 30px;
  }
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}

img {
  display: block;
}

h1,
h2,
h3 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}
h4 {
  text-transform: capitalize;
  line-height: 1.25;
  margin-top: 10px;
  font-family: var(--ff-primary);
}


/*  global classes */

.btn {
  text-transform: uppercase;
  background: transparent;
  color: var(--clr-black);
  padding: 0.375rem 0.75rem;
  letter-spacing: var(--spacing);
  display: inline-block;
  transition: var(--transition);
  font-size: 0.875rem;
  border: none;
  outline: none;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: var(--radius);
}
.btn:hover {
  color: var(--clr-white);
  background: var(--clr-black);
}
.btn-white {
  color: var(--clr-white);
  border: 2px solid #fff;
  border-radius: 0;
  padding: 0.5rem 1rem;
}
.btn.disabled {
  background-color: gray;
  pointer-events: none !important;
}

.btn-white:hover {
  background: var(--clr-white);
  color: #333;
  font-weight: bold;

}
/* section */

.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
}
@media screen and (min-width: 992px) {
  .section-center {
    width: 95vw;
  }
}

main {
  min-height: 100vh;
  display: grid;
  place-items: center;
}
/*
=============== 
Scroll
===============
*/
/* navbar */
nav {
  padding: 0.4rem 1rem;
    z-index: 9;
}
/* fixed nav */
/* .fixed-nav {
  position: fixed;
  top: 0;
  z-index: 1;
  left: 0;
  width: 100%;
  background: var(--clr-white);
  box-shadow: var(--light-shadow);
  transition: all 0.7s ease;
} */
.fixed-nav .links a {
  color: var(--clr-grey-1);
}
.fixed-nav .links a:hover {
  color: var(--clr-secondary);
}
@media screen and (min-width: 800px) {
  .links a:hover {
    transform: scale(1.12) !important;
    color: var(--clr-secondary);
  }
}

/* .fixed-nav .links-container {
  height: auto !important;
} */
.nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-toggle {
  font-size: 1.5rem;
  color: var(--clr-grey-1);
  background: transparent;
  border-color: transparent;
  transition: var(--transition);
  cursor: pointer;
  outline: none;
}
.nav-toggle:hover,
.nav-toggle:focus {
  color: var(--clr-secondary);
}
.logo-container {
  margin-bottom: 30px;
}
.logo {
  width: 190px;
  height: 80px;;
}
.img-responsive {
  width: 100%;
}
.logo2 {
  height: 45px;
  width: 50px;
}
@media (max-width: 800px) {
  .logo.res {
    display: none;
  }
  .logo2.show {
    display: block;
  }
}


/* @media (min-width:800px) {
  .links-container {
    display: none;
  }
} */
.links a:hover {
  color: var(--clr-grey-1);
}

@media (max-width: 800px) {
 
  .links a {
    font-size: .8rem;
  }
  .list:not(:last-of-type) {
    border-bottom: 1px solid #a9a9a9;
  }
}

.navigation {
  border-top: 1px solid #e6e6e6;
    font-weight: 400;
    margin-bottom: 30px;
    list-style: none;

}
.navigation li {
  border-bottom: 1px solid #e6e6e6;
}
.navigation a {
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 12px;
  display: block;
  padding: 10px;
  color: #333;
}
/* hero */
/*
/*--------------------------------------------------
  Container
--------------------------------------------------*/
.l-container {
  position: relative;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.l-container.is-fluid {
  max-width: 100% !important;
}

@media (min-width: 768px) {
  .l-container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .l-container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .l-container {
    max-width: 1250px;
  }
}
/*=============== 
Video
===============
*/
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--clr-white);
  display: grid;
  justify-content: center;
  align-items: center;
  visibility: visible;
  z-index: 999;
  transition: var(--transition);
}
.hide-preloader {
  z-index: -999;
  visibility: hidden;
}

header {
  min-height: 100vh;
    width: 250px;
    position: relative;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9;
    justify-content: center;
    background: #FAFAFA; 
    border-right: 1px solid #e6e6e6; 
    padding: 20px 30px;
  }
  .flex {
    display: flex;
  }

.logo {
  display: block;
  transition: all 0.3s ease;
}
.logo:hover {
  transform: scale(1.03);
}

.video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -2;
}
.banner {
  min-height: 100vh;
  display: grid;
  place-items: center;
  text-align: center;
}
.container {
  z-index: 1;
  text-align: center;
}

.container h1 {
  color: #333333;
  font-size: 3.2rem;
}
@media (max-width: 500px) {
  .container h1 {
    font-size: 2.3rem;
  }
}
.container p {
  color: var(--clr-white);
  max-width: 25rem;
  margin: 0 auto;
  margin-bottom: 10px;
}
@media screen and (min-width: 768px) {
  .container p {
    max-width: 40rem;
  }
}
.social-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.social {
  font-size: 24px;
  color: #333;
  transition: all linear 0.3s;
}
.social:not(:last-of-type) {
  margin-right: 20px;
}
.social:hover {
  transform: scale(1.1) rotate(10deg);
}
/* switch button */
button {
  outline: none !important;
}
.switch-btn {
  position: absolute;
  bottom: 7%;
  left: 7%;
  width: 4.5rem;
  height: 1.2rem;
  display: flex;
  border-radius: var(--radius);
  align-items: center;
  justify-content: space-around;
  border: none;
  transition: var(--transition);
  z-index: 0;
  outline: none;
}
.switch-btn span {
  display: inline-block;
  font-size: 10px;
  cursor: pointer;
  text-transform: capitalize;
  color:#333;
}
.switch {
  position: absolute;
  width: 50%;
  height: 100%;
  top: 0;
  left: 0;
  background: #333;
  border-radius: var(--radius);
  margin: 0;
  display: block;
  transition: var(--transition);
}
.slide1 .switch {
  left: 50%;
}
/* sections and title */
.title h2 {
  text-align: center;
  text-transform: uppercase;
}
.title span {
  color: var(--clr-secondary);
}

#services {
  background: var(--clr-grey-10);
}
footer {
  background: #000;
  padding: 1rem;
}
footer p {
  color: var(--clr-white);
  text-align: center;
  text-transform: capitalize;
  letter-spacing: var(--spacing);
  margin-bottom: 0;
  font-size: 12px;
}

.top-link {
  font-size: 1.25rem;
  position: fixed;
  bottom: 3rem;
  right: 3rem;
  background: #333;
  width: 2rem;
  height: 2rem;
  display: grid;
  place-items: center;
  border-radius: var(--radius);
  color: var(--clr-white);
  animation: bounce 2s ease-in-out infinite;
  visibility: hidden;
  z-index: -100;
}
.show-link {
  visibility: visible;
  z-index: 100;
}

@keyframes bounce {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

/*=============== 
Modal
===============
*/
.hero {
  min-height: 100%;
  /* background: url("./images/modal-bg.jpg") left/cover no-repeat; */
  display: grid;
  place-items: center;
  padding: 30px;
}
.banner2-container {
  display: flex;
  justify-content: center;
}
.banner2 {
  background: var(--clr-white);
  padding: 10px 0;
  border-radius: var(--radius);
  box-shadow: 0 0px 5px -3px rgba(0,0,0, 0.5);
  text-align: center;
  width: 100%;
  max-width: var(--fixed-width);
}

.banner2 h1 {
  text-transform: lowercase;
  font-weight: normal;
}
.modal-btn {
  margin-top: 2rem;
  background: #333;
  color: var(--clr-white);
  outline: none;
}
.modal-btn:hover {
  background: transparent;
  color: #333;
  border: 1px solid #333 !important;
  font-weight: bold;
}
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: grid;
  place-items: center;
  transition: var(--transition);
  visibility: hidden;
  z-index: -10;
}
/* OPEN/CLOSE MODAL */
.open-modal {
  visibility: visible;
  z-index: 10;
}
.modal-container {
  background: var(--clr-white);
  border-radius: var(--radius);
  width: 90vw;
  height: 100%;
  max-width: var(--fixed-width);
  text-align: center;
  display: grid;
  place-items: center;
  position: relative;
  padding: 0 10px;
}
.close-btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 2rem;
  background: transparent;
  border-color: transparent;
  color: var(--clr-red-dark);
  cursor: pointer;
  transition: var(--transition);
}
.close-btn:hover {
  color: var(--clr-red-light);
  transform: scale(1.3);
}

/** CARD **/
.card {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.card-item {
  flex: 0 0 25%;
  max-width: 25%;
  box-shadow: 0 2px 3px rgba(0,0,0, 0.2);
  position: relative;
  height: 100%;
}
@media screen and (min-width: 800px) {
  .card-item {
    border-left: 1px solid #333333;
    
  }
}

.card-fx {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s linear;
}
.card-fx h4 {
  color:#fff;
  font-size: 20px;
}
.card-item:hover .card-fx {
  opacity: 1;
  pointer-events: all;
}
@media screen and (max-width: 800px) {
  .card-item {
    flex: 0 0 50%;
    max-width: 50%;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 500px) {
  .card-item {
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 20px;
  }
}
.card-link {
  overflow: hidden;
  display: block;
}
.card-img {
  width: 100%;
  height: 100%;
  transition: all 0.1s linear;
}
@media screen and (min-width: 900px) {
 
}
.card-item:hover .card-img {
  transform: scale(1.1);
}

.card h4 {
  text-align: center;
}
small {
  font-size: 14px;
  font-weight: lighter;
}

.card-btn {
  
  background-color: #fff;
  border: 1px solid #fff;
  width: 70px;
  text-align: center;
  color: #000;
  border-radius: 5px;
  margin-top: 10px;
  transition: all 0.1s linear;
}

.card-btn:hover {
  border: 1px solid #fff;
  background-color: transparent;
  color: #fff;
}
.card-btn:not(:last-of-type) {
  margin-right: 5px;
}
.card-btn-container {
  display: flex;
  justify-content: center;
  padding: 10px;
}


/**PROJECTS TAB**/

.about-img {
  margin-bottom: 2rem;
}
.about-img img {
  border-radius: var(--radius);
  object-fit: cover;
  height: 20rem;
}
@media screen and (min-width: 992px) {
  .about-img {
    margin-bottom: 0;
  }

  .about-center {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
  }
}
.about {
  background: var(--clr-white);
  border-radius: var(--radius);
  display: grid;
  grid-template-rows: auto 1fr;
}
.btn-container {
  border-top-left-radius: var(--radius);
  border-top-right-radius: var(--radius);
  display: flex;
  border-bottom: 1px solid #dae2ec;
  background: var(--clr-grey-10);
}
.tab-btn:nth-child(1) {
  border-top-left-radius: var(--radius);
}
.tab-btn:nth-child(3) {
  border-top-right-radius: var(--radius);
}
.tab-btn {
  padding: 1rem 0;
  border: none;
  text-transform: capitalize;
  font-size: 1rem;
  display: block;
  background: var(--clr-grey-9);
  cursor: pointer;
  transition: var(--transition);
  width: 15%;
}
@media(max-width: 800px) {
  .tab-btn {
    width: 100%;
  }
}
.tab-btn:not(:last-of-type) {
  border-right: 1px solid #a9a9a9;
}
.tab-btn:hover:not(.active) {
  background: var(--clr-primary-10);
  color:#333;
}
.about-content {
  border-bottom-left-radius: var(--radius);
  border-bottom-right-radius: var(--radius);
}
@media screen and (max-width: 500px) {
  .about-content {
    padding: 10px;
  }
}
/* hide content */
.content {
  display: none;
}
.tab-btn.active {
  background: #333;
  color: white;
}
.content.active {
  display: block;
}
.more {
  max-height: 0;
  overflow: hidden;
}
.more.active {
  max-height: 100%;
  padding-bottom: 20px;
}
.more-container {
  text-align: right;
}
.more-btn {
  background-color: transparent;
  border: 2px solid #333;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  margin: 5px;
  color: #333;
  font-weight: bold;
  transition: all 0.2s linear;

}
.more-btn:hover {
  background-color: #333;
  color: #fff;
}

/*
=============== 
Slider
===============
*/

.slider-container {
  border: 2px solid var(--clr-primary-5);
  width: 100%;
  margin: 0 auto;
  height: 40vh;
  max-width: 80rem;
  position: relative;
  border-radius: 0.5rem;
  overflow: hidden;
  margin-top: 4rem;
}
.slide {
  position: absolute;
  width: 100%;
  height: 100%;
  background: var(--clr-primary-9);
  color: var(--clr-white);
  display: grid;
  place-items: center;
  transition: all 0.25s ease-in-out;
  text-align: center;
}
.slide-img {
  height: 100%;
  object-fit: contain;
  width: 100%;
}
.slide h1 {
  font-size: 5rem;
}
.person-img {
  border-radius: 50%;
  width: 6rem;
  height: 6rem;
  margin: 0 auto;
  margin-bottom: 1rem;
}
.slide:nth-child(1) h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.slide:nth-child(3) {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("./img-2.jpeg") center/cover no-repeat;
}
.btn-container-slide {
  display: flex;
  justify-content: center;
  margin-top: 0.75rem;
}
.prevBtn,
.nextBtn {
  background: #49a6e9;
  border-color: transparent;
  padding: 2px 5px;
  border-radius: 3px;
  cursor: pointer;
  margin: 0 0.25rem;
  text-transform: capitalize;
  letter-spacing: 2px;
  color: #fff;
  transition: var(--transition);
}
.prevBtn:hover,
.nextBtn:hover {
  color: var(--clr-grey-3);
}

@media screen and (min-width: 576px) {
  .slider-container {
    height: 45vh;
  }
}
@media screen and (min-width: 768px) {
  .slider-container {
    height: 55vh;
  }
}
@media screen and (min-width: 992px) {
  .slider-container {
    height: 65vh;
  }
}

/*========================
      CONTACT
=========================*/

.contact-item {
  display: flex;
}
@media (max-width: 450px) {
  .contact-item {
    justify-content: center;
  }
}


@media(min-width: 450px) {
  .contact-child  {
    flex: 0 0 50%;
    max-width: 50%;
  }
}
.contact-child.white-bg {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
}
.contact-card p:not(:last-of-type) {
  margin-bottom: 10px;
}
.contact-card p i {
  color: #49a6e9;
}