
/*----------------------------------------------
    owl-carousel
-----------------------------------------------*/

.owl-nav {
  text-align: center;
  -webkit-tap-highlight-color: transparent;
  position: absolute;
  top: 45%;
  width: 100%;
  text-align: center;
  -webkit-tap-highlight-color: transparent;
  transform: translateY(-50%);
}
@media (max-width: 500px) {
  .owl-nav {
    display: none;
  }
}

.owl-nav [class*='owl-'] {
  position: absolute;
  top: 50%;
  bottom: 0;
  width: 32px;
  height: 50px;
  color: #000;
  font-size: 1.5rem;
  display: inline-block;
  cursor: pointer;
  /* text-indent: -99999px; */
  opacity: 1;
  background: transparent;
}
.owl-nav.alt {

    right: 10px;
    left: 10px;
    width: calc(100% + 10px);
}

.owl-nav [class*='owl-'].disabled {
  display: none;
}

.owl-nav .owl-prev { left: -30px; border-radius: 0px 7px 7px 0px; }
.owl-nav .owl-next { right: -30px; border-radius: 7px 0 0 7px;}
 
.carousel.alt .owl-nav .owl-prev { left: 10px; border-radius: 0px 7px 7px 0px; }
.carousel.alt .owl-nav .owl-next { right: 10px; border-radius: 7px 0 0 7px; }

.owl-nav .owl-prev::before,
.owl-nav .owl-next::before {
  display: block;
  content: "";
  width: 12px;
  height: 12px;
  margin: auto;
  border-style: solid;
  border-color: #000;
}

.owl-nav .owl-prev::before {
  border-width: 2px 0 0 2px;
  transform: rotate(-45deg);
}

.owl-nav .owl-next::before {
  border-width: 2px 2px 0 0;
  transform: rotate(45deg);
}

.owl-nav [class*='owl-'] span {
  display: none;
  visibility: hidden;
}

.owl-nav .disabled {
  cursor: default;
}
.owl-nav.disabled + .owl-dots {
  margin-top: 10px;
}

.owl-dots {
  text-align: center;
  -webkit-tap-highlight-color: transparent;
}

.owl-dots .owl-dot {
  display: inline-block;
  zoom: 1;
  *display: inline;
}

.owl-dots .owl-dot span {
  width: 10px;
  height: 10px;
  margin: 10px;
  background: #e4e4e4;
  display: block;
  border-radius: 50%;
  transition: opacity 200ms ease;
}

.owl-dots .owl-dot.active span, .owl-dots .owl-dot:hover span {
  background: #9d9d9d;
}

/*----------------------------------------------
    owl-carousel thumbs
-----------------------------------------------*/

.owl-thumbs {
  position: absolute;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 1200px;
  margin: auto;
}

.owl-thumb-item {
  max-width: 50px;
  margin: 5px;
}

.owl-thumb-item:hover {
  border-color: #BDBDBD;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
}

.owl-thumb-item img {
  display: block;
  max-width: 100%;
}

.carousel.home-atf .owl-dots {
  position: absolute;
  right: 0;
  bottom: 20px;
  left: 0;
  text-align: center;
  -webkit-tap-highlight-color: transparent;
}



